<main>
    <div class="container">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="d-flex justify-content-center py-4">
                            <a href="index.html" class="logo d-flex align-items-center w-auto">
                                <img src="assets/img/logo.png" alt="">
                                <span class="d-none d-lg-block">NiceAdmin</span>
                            </a>
                        </div><!-- End Logo -->

                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h3 class="card-title text-center pb-0 fs-4">Admin</h3>
                                </div>                                

                                <form  class="row g-3 needs-validation" novalidate>  <!--[formGroup]="form_registro" (ngSubmit)="irRegistrarUsuario()"-->
                                    <a href="http://localhost:4200/admin/register">Ir a registrar ususario</a>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" (click)="irRegistrarUsuario()" type="submit" >Register User</button>
                                    </div>
                                    <a href="http://localhost:4200/admin/registerCar">Ir a registrar Automóvil</a>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" (click)="irRegistrarCar()" type="submit" >Register Vehicle</button>
                                    </div>
                                    <a href="http://localhost:4200/admin/registerFly">Ir a registrar Vuelo</a>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" (click)="irRegistrarVuelo()" type="submit" >Register Fly</button>
                                    </div>
                                    <a href="http://localhost:4200/admin/delete">Ir area de Eliminacion</a>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" (click)="irEliminar()" type="submit" >Delete data</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-70" (click)="irLogin()" type="submit" >Go to Login</button>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </div>
</main><!-- End #main -->